[Unit]
Description=System Sensor service
After=multi-user.target

[Service]
User=gughan
Type=idle
ExecStart=/usr/bin/python3 /home/gughan/system_sensors/src/system_sensors.py /home/gughan/system_sensors/src/settings.yaml

[Install]
WantedBy=multi-user.target
